table{background-color:#5382BB;margin-top:5px; }
table.sm{font-size:60%; }
table  tr{background-color: #FFFFFF;}
table  tr.title{background-color: #5382BB;color:#FFFFFF;}
table  td.tdtitle{font-weight:700; background-color: #AEEEEE;color:#000;}
a {	text-decoration: none;}
audio {	display: none;}
div[f]{float:left1;display:inline;overflow:hidden}
#maskdiv{z-index: 1;width:320;height:250px;background: #cccccc;  position:fixed;right: 0px; top: 100px; border-radius:10px; }
#maskdiv #video{ z-index: 2;margin-top:-10px; }
#mp4player a{text-decoration:none;float:right;margin:5px;}

html,body{margin:0px;height:100%;overflow:hidden;font-size:12px;}
 
 /* 核心样式定义 */
 .wrapper{
  position:relative;
  width:100%;
  height:100%;
  overflow:auto; 
 }
 .fixed-box{
   position:fixed;
 }
 * html .fixed-box{
  position:absolute;
  z-index:100; 
 }
 

 #mp4player{
  width:320px;height:250px;
  right:10px;
  top:150px;
  margin:0 0 0 -200px; 
text-decoration:none;float:right;margin:5px;
background: #cccccc;
border-radius:10px; 
 }
