VBox{
    -fx-padding: 32px 0;
    -fx-background-color: white;
}

#appName{
    -fx-color:#ff0000;
    -fx-font-size: 32px;
    -fx-text-fill: #A32722;
}
#divider{
    -fx-border-style: dashed;
    -fx-border-width: 1 0 0 0; /* its make really one-pixel-border */
    -fx-border-color: black;
}
