.inputLabel {
    -fx-text-fill: blue;
}

.rectBorder {
    -fx-start-margin: 6px;
    -fx-end-margin: 6px;
    -fx-border-color: #EAEAEA;
    -fx-border-radius: 4px;
}
.rightBox {
    -fx-padding: 16px;
}

.input {
    -fx-min-width: 167px;
    -fx-max-width: 167px;
    -fx-pref-width: 167px;
    -fx-pref-height: 27px;
    -fx-min-height: 27px;
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}

.input.big {

    -fx-font-size: 20px;
    -fx-font-style: oblique;
    -fx-pref-height: 334px;
}

.input.middle {
    -fx-min-height: 50px;
}
.input.long {
    -fx-min-height: 200px;

}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.modifyBtn {
    -fx-text-fill: blue;
}

#rowAttr > HBox {
    -fx-alignment: top-right;
}
